.cart-container {
  background-color: #ffffff;
  color: #333;
  padding: 30px;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: inherit;
    font-family: "Inter", sans-serif;
    margin-top: 100px;
}

.pan {
  color: #333;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: inherit;
    font-family: "Inter", sans-serif;
    font-size: 20px;

}

.pan strong {
  color: #FF9A40;
}

@media (max-width: 768px) {
  .pan {
    font-size: 18px;
  }
}
.cart-icon {
  font-size: 4rem;
  color: #FF9A40;
  transition: color 0.3s, transform 0.3s;
}

.cart-icon:hover {
  color: #ff9940ac;
  transform: scale(1.1);
}

.cart-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 26.04px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: inherit;
    font-family: "Inter", sans-serif;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-header-icons {
  position: absolute;
  left: 20px;
  top: 10px;
  display: flex;
  gap: 15px;
}

.header-icon-link {
  color: #FF9A40;
  font-size: 1.75rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.header-icon-link:hover {
  color: #e86d4b;
  transform: scale(1.1);
}

.header-icon {
  font-size: 1.75rem;
}

.cart-summary {
  color: #6c6a6a;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

table, th, td {
  border: 1px solid #80808042;
}

.clear-cart-button {
  background-color: #ffffff;
  color: #FF9A40;
  border: 1px solid #FF9A40;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;}

.clear-cart-button:hover {
  background-color: #FF9A40;
  color: #ffffff;
  transform: scale(1.02);
  font-weight: 600;
  border: 1px solid #FF9A40;
  border-radius: 8px;
}

.clear-cart-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #FF9A40;
}

.common-button-style {
  background-color: #ffffff;
  color: #555;
  border: none;
  padding: 5px 5px;
  font-size: 2.3rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
  font-family: "Inter", sans-serif;
  font-size: 28px;
}


.empty-cart-message {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #888;
  margin: 50px 0;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: inherit;
    font-family: "Inter", sans-serif;
}

.cart-items-table {
  width: 100%;
  border-collapse: collapse;
  
  overflow: hidden;
}

.cart-items-table th,
.cart-items-table td {
  text-align: left;
  padding: 15px;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: inherit;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.cart-items-table th {
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
}

.cart-items-table tr {
  transition: background-color 0.3s;
}

.cart-items-table tr:hover {
  background-color: #f0eeed72;
}

.cart-items-table td img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
}

.cart-items-table td img:hover {
  transform: scale(1.1);
}

.quantity-button {
  background-color: #ffffff;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 15px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 500;
}

.quantity-button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  color: #FF9A40;
  border: 1px solid #FF9A40;
  border-radius: 8px;}

.remove-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.remove-button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  color: #FF9A40;
  border: 1px solid #FF9A40;
  border-radius: 8px;}

.payment-button {
  display: block;
  width: 35%;
  background-color:white ;
  color: #FF9A40;
  border: 1px solid #FF9A40;
  border-radius: 8px;
  padding: 15px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Roboto', sans-serif;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin-left: auto;
  margin-right: 0; 
  display: block;
}

.payment-button:hover {
  background-color: #FF9A40;
  transform: scale(1.05);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
#payment-button{
  margin-left: 0;
  margin-right: auto; 
  display: block;}

.cart-total {
  font-size: 28px;
  text-align: left;
  color: #555;
  margin-top: 10px;
}
#summary-table {
  width: calc(58% - 170px);
  max-width: 600px; 
  border-collapse: collapse; 
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

#summary-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Bordure pour séparation des lignes */
  font-family: 'Roboto', sans-serif;
}

#summary-table td:first-child {
  font-weight: bold;
}

@media (max-width: 768px) {
  #summary-table {
    font-size: 1.5rem; /* Réduit la taille de la police */
  }
}

@media (max-width: 480px) {
  #summary-table {
    font-size: 1.3rem; /* Réduit la taille de la police */
  }
}

@media (max-width: 768px) {
  .cart-container {
    margin-top: 150px;
  }
}
@media (max-width: 480px) {
  .cart-container {
    margin-top: 300px;
  }
}




