@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5; 
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: inherit;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: white;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 18%;
}
.page-container {
  display: flex;
  min-height: 100vh;
  padding-top: 0px;
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: #fff; 
  overflow-y: auto;
}

#starslist{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: -12px;
  justify-content: center;
}

.sidebar {
  width: 320px; 
  color: #000000; 
  overflow-y: auto; 
  margin-top: 50px;
  background-color: #fff;
  position: fixed;
  top: 100px; 
  left: 0;
  height: calc(100% - 100px); 
  width: 250px; 
  background-color: white;
  overflow-y: auto;
}

.sidebar h2{
  color: #BDC7D3;
  font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 14px;
}

.sidebar .category {
  margin-bottom: 2rem; 
  transition: transform 0.3s ease; 
  padding-bottom: 1rem;
}

.sidebar .category:hover {
  transform: translateX(10px); 
}

.sidebar .category h3 {
  font-size: 15px; 
  margin-bottom: 0.75rem;
  color: #575864; 
   text-transform: uppercase;
  text-transform: capitalize;
    line-height: 17px;
    display: inline-block;
    cursor: pointer;
    margin-right: 3%;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.sidebar .category ul {
  list-style-type: none;
  padding-left: 1.5rem; 
  color: #575864;
  text-transform: capitalize;}

.sidebar .category ul li {
  font-size: 1.4rem;
  color: #000000; 
  margin: 0.75rem 0; 
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.sidebar .category ul li:hover {
  color: #FF9A40; 
  transform: translateX(5px); 
}

.sidebar .category-header h3 svg {
  margin-right: 8px; 
  font-size: 22px; 
  color: #ff9940ac; 
  stroke: #FF9A40; 
  stroke-width: 2px; 
}

.content {
  flex: 1;
  padding: 2rem; 
  background-color: #fff; 
  overflow-y: auto; 
  
}

.product-title {
  margin-top: 18px;
  font-size: 0rem; 
  margin-bottom: 1.5rem;
  text-align: center;
  color: #FF9A40; 
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.category-filter {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
    border: 0.3px solid #d1d1d1;
    border-radius: 8px;
    padding: 5px 4px;
    margin-left: 60px;
    margin-right: 60px;
}

.filter-button {
  background-color: #fff;
  color: #261d18ad;
  padding: 0.75rem 1.5rem;
  margin: 0 0.75rem; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 8px; 
  font-size: 1.4rem; 
  font-weight: 600; 
  text-transform: capitalize; 
}

.filter-button.active,
.filter-button:hover {
  background-color: #FF9A40; 
  color: #fff; 
  transform: scale(1.05);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
  padding-left: 60px;
  padding-right: 60px;
}

.product-card {
  border: 0.3px solid #ddd;
  border-radius: 8px; 
  padding: 1rem;
  background-color: #fff; 
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 20px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(50%);
  filter: blur(10px);
}

.product-card {
  position: relative;
  display: inline-block;
}

.product-image {
  max-width: 250%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
  max-height: 200px; /* Définir la hauteur maximale de l'image */
  width: auto; /* Permet à la largeur de s'ajuster proportionnellement */
  object-fit: cover; /* Assure que l'image couvre la zone sans déformation */
  border-radius: 8px; /* Optionnel : ajoute des coins arrondis aux images */
}
.icons-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Allows clicks to pass through to the icons */
}

.cart-iconS, .view-details-icon {
  position: absolute;
  font-size: 2rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
  pointer-events: auto; /* Allows clicks on icons */
}

.cart-iconS {
  top: 25%;
  left: 30%;
}
.cart-iconS:hover{
  color: #FF9A40;
}
.view-details-icon {
  top: 25%;
  left: 50%;
}

.product-card:hover .cart-iconS, 
.product-card:hover .view-details-icon {
  display: block;
  
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s;
}

.product-card:hover {
  transform: scale(1.05);
}

#prodtitre {
  font-size: 16px; 
  line-height: 65px;
  color: #333; 
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -12px;
}

.product-price {
  color: #000000; 
  text-align: center;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
  font-weight: inherit;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19px;
}

#categ {
  text-align: center;
  font: inherit;
  font-family: inherit;
  font-style: inherit; 
    font-weight: inherit;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

.product-category {
  font-size: 1.1rem; 
  color: #555; 
}

.details-button,
.add-to-cart-button {
  background-color: #ffffff;
  color: #198754;
  border-radius: 8px;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 25px; 
  font-weight: 600; 
  align-items: center;
}

.product-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-cart-button:hover {
  background-color: #198754; 
  color: #fff; 
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff; 
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.modal-image {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

.close-button {
  background-color: #dc3545; 
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close-button:hover {
  background-color: #c82333; 
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.modal-image {
  width: 100%;
  border-radius: 10px;
}

.sidebar {
  width: 0;
  position: fixed;
  top: 0;
  left: 0; 
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000; 
}

.sidebar.open {
  width: 250px; 
  padding: 2rem;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #FF9A40;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
}

.openbtn {
  font-size: 23px;
  cursor: pointer;
  color: #000000;
  border: none;
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  z-index: 1000; 
  font-weight: 600;
}

.content {
  transition: margin-left 0.5s;
}

.content.shifted {
  margin-left: 250px; 
}

.header {
  background-color: #FF9A40; 
  color: #fff;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
}

.page-container {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: #fff; 
  overflow-y: auto;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 200px;

}

.header-style img {
  display: block;
  margin-right: 200px
}

.extras {
  display: flex;
  align-items: center;
}

.menu-btn {
  font-size: 24px;
  color: #000;
  cursor: pointer;
  margin-left: 15px;
}

.bar-menu {
  display: none; 
}

.bar-menu.open {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
}

.navbar a:hover {
  color: #FF9A40;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  min-width: 160px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-extras {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-link, .logout-btn {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.profile-link:hover, .logout-btn:hover {
  color: #FF9A40;
}

.header-extras {
  display: flex;
  align-items: center;
}

.profile-link {
  display: flex;
  align-items: center;
  color: #fff; 
  text-decoration: none; 
  background-color: #FF9A40; 
  padding: 0.5rem 1rem; 
  border-radius: 7px; 
  transition: background-color 0.1s ease, color 0.1s ease;
  font-family: 'Roboto', sans-serif; 
  font-size: 1.5rem; 
}

.profile-link:hover {
  background-color: #e88b53; 
  color: #fff; 
}

.profile-link .fa-user {
  margin-right: 0.5rem; 
  font-size: 1.3rem;
}

.profile-link span {
  display: inline-block;
  margin-left: 0.5rem; 
}

  @media (max-width: 767px) {
  .profile-link span {
    display: none; 
  }
  }
  .order-button {
  background-color: #fff; 
  border: none;
  color: #FF9A40; 
  cursor: pointer;
  border-radius: 50%; 
  padding: 0.5rem;
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease, color 0.1s ease;
  margin-left: 10px;
}

 .order-button:hover {
  background-color: #FF9A40; 
  color: #fff; 
}

.order-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .category-filter .filter-button {
    font-size: 0;
    margin-left: -5px;
  }

  .category-filter .filter-button::before {
    font-size: 24px;
    display: inline-block;
    margin-right: 0;
  }

  .category-filter .filter-button:nth-child(1)::before {
    content: '⚙️'; 
  }

  .category-filter .filter-button:nth-child(2)::before {
    content: '🌿'; 
  }

  .category-filter .filter-button:nth-child(3)::before {
    content: '🍖'; 
  }

  .category-filter .filter-button:nth-child(4)::before {
    content: '🥪'; 
  }

  .category-filter .filter-button:nth-child(5)::before {
    content: '🍕'; 
  }

  .category-filter .filter-button:nth-child(6)::before {
    content: '🍹'; 
  }
}
